<div class="row justify-content-center align-items-center p-4">
  <div class="col-lg-4 col-md-6 text-center mt-4">
    
    <!-- Fine Circle Responsive Image -->
    <div id="container" class="my-2">
      <div id="dummy"></div>
      <div id="element">
        <img src="{{ site.author.image }}" alt="{{ site.title }}" class="circle-image wow animated zoomIn" data-wow-delay=".1s">
      </div>
    </div>

    <p id="description" class="text-muted"></p>

  </div>
</div>

<script>
  document.addEventListener("DOMContentLoaded", function() {
    // Fetch the site description dynamically
    var description = "{{ site.description }}";
    var target = document.getElementById("description");
    var delay = 100; // Delay in milliseconds between each character

    // Typing effect
    let index = 0;
    function typeNextLetter() {
      if (index < description.length) {
        target.textContent += description[index];
        index++;
        setTimeout(typeNextLetter, delay);
      }
    }

    typeNextLetter(); // Start typing effect
  });
</script>
